@model List<TranslationApplication.Models.Wordlist>

<h5 class="card-title title">Wordlists</h5>
<a asp-controller="Wordlist" asp-action="CreateWordlist" class="btn my-button btn-lg lighblue-custom btn-custom mb-4 d-flex">
    <div style="color:forestgreen">
        <i class="fas fa-plus-circle fa-2x"></i>
    </div>
    <div class="m-auto">Create a new wordlist</div>
</a>
@if (Model.Count == 0)
{
    <p>You have no wordlists saved</p>
}
else
{
    @foreach (var wordlist in Model)
    {
        <a class="btn my-button btn-lg btn-custom lightgreen_custom mb-2 border-0" asp-controller="Wordlist" asp-action="CompleteWordlist" asp-route-id="@wordlist.Id" style="color:black">
            <div class="d-block text-left">
                <div>@wordlist.Title</div>
                <div>From @wordlist.LanguagePair.Language1 to @wordlist.LanguagePair.Language2</div>
            </div>
        </a>
    }
}
